.project-card {
  transition: all 0.3s ease;
  border: none;
}

.project-card:hover {
  background-color: #efefef;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

button.btn-primary:hover {
  background-color: #0056b3 !important;
}
